<div class="container" ng-controller="TheResourcesMethodController">
    <div class="page-header">
        <h1>The <code>_resources</code> method</h1>
    </div>

    <p class="lead">
        This sample explains how to use the <code>_resources</code> method in its simplest way. For more information about
        the <code>_resources</code> method see
        <a href="https://github.com/guylabs/angular-spring-data-rest#usage-of-_resources-method" target="_blank">this documentation.</a>
        The following list shows the parent category of the second category.
    </p>

    <p>
        This sample just shows one way of using the resources method. The <code>_resources</code> method has more features like
        adding URL parameters to the requests, or return the available resources. And you are also able to use all the
        features of the returned Angular <code>$resource</code> object.
    </p>

    <ul class="list-group">
        <li class="list-group-item"><strong>{{parentCategory.name}}</strong><br/>
            <small><a href="{{parentCategory._links.self.href}}"><code>{{parentCategory._links.self.href}}</code></a></small></li>
    </ul>

    <button class="btn btn-primary" ng-click="isCodeCollapsed = !isCodeCollapsed">Show me the code</button>
    <button class="btn btn-primary" ng-click="isResponseCollapsed = !isResponseCollapsed">Show me the response</button>
    <button class="btn btn-primary" ng-click="isProcessedResponseCollapsed = !isProcessedResponseCollapsed">Show me the processed response</button>
    <hr>
    <div hljs collapse="!isCodeCollapsed">
SpringDataRestAdapter.processWithPromise($http.get('/rest/categories')).then(function (processedResponse) {
    var parentCategoryResource = processedResponse._embeddedItems[1]._resources("parent");
    $scope.parentCategory = parentCategoryResource.get();
});</div>
    <div hljs source="processedResponse" collapse="!isProcessedResponseCollapsed"></div>
    <div hljs source="response" collapse="!isResponseCollapsed"></div>
    <footer>
        <p><a href="https://github.com/guylabs/angular-spring-data-rest/blob/master/LICENSE" target="_blank">&copy;
            Guy Brand 2014 - Licensed under MIT</a></p>
    </footer>
</div>