<div class="jumbotron">
    <div class="container">
        <h1>Hello, sample!</h1>

        <p>This is a sample application which shows the usage of the
            <a href="https://github.com/guylabs/angular-spring-data-rest" target="_blank">Angular Spring Data
                REST</a> module. The <a href="http://projects.spring.io/spring-data-rest/" target="_blank">
                Spring Data REST</a> back end is based on
            <a href="http://projects.spring.io/spring-boot/" target="_blank">Spring Boot</a> and it
            provides some simple entities to test the module.</p>

        <p><a class="btn btn-primary btn-lg" href="#/samples" role="button">Show me the samples &raquo;</a></p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Documentation</h2>

            <p>Read the detailed documentation about the module and learn about all the features and how to
                configure the module.</p>

            <p>
                <a class="btn btn-default"
                   href="https://github.com/guylabs/angular-spring-data-rest/blob/master/README.md"
                   target="_blank" role="button">
                    <span class="glyphicon glyphicon-book"></span> View documentation &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Releases</h2>

            <p>
                Download the latest releases or use bower/npm to install the latest module: <br/><code>bower install
                angular-spring-data-rest</code><br/><code>npm install
                angular-spring-data-rest</code>
            </p>

            <p>
                <a class="btn btn-default" href="https://github.com/guylabs/angular-spring-data-rest/releases"
                   target="_blank" role="button">
                    <span class="glyphicon glyphicon-download"></span> View releases &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Release notes</h2>

            <p>Check out the latest release notes.</p>

            <p>
                <a class="btn btn-default"
                   href="https://github.com/guylabs/angular-spring-data-rest/blob/master/RELEASENOTES.md"
                   target="_blank" role="button">
                    <span class="glyphicon glyphicon-star"></span> View release notes &raquo;</a>
            </p>
        </div>
    </div>

    <hr>

    <footer>
        <p><a href="https://github.com/guylabs/angular-spring-data-rest/blob/master/LICENSE" target="_blank">&copy;
            Guy Brand 2014-2016 - Licensed under MIT</a></p>
    </footer>
</div>