<div class="container">
    <div class="page-header">
        <h1>Samples overview</h1>
    </div>
    <h2>Spring Data REST back end structure</h2>
    <div class="row">
        <div class="col-md-4">
            <h2>List embedded items</h2>

            <p>This sample shows how to list the embedded items of a call to the Category repository.</p>

            <p>
                <a class="btn btn-default"
                   href="#/samples/list-embedded-items"
                   role="button">
                    <span class="glyphicon glyphicon glyphicon-hand-right"></span> View sample</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>The <code>_resources</code> method</h2>

            <p>This sample shows how to use the <code>_resources</code> method.</p>

            <p>
                <a class="btn btn-default"
                   href="#/samples/the-resources-method"
                   role="button">
                    <span class="glyphicon glyphicon glyphicon-hand-right"></span> View sample</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Automatic link fetching</h2>

            <p>This sample shows how to automatically fetch the link to a parent category.</p>

            <p>
                <a class="btn btn-default"
                   href="#/samples/automatic-link-fetching"
                   role="button">
                    <span class="glyphicon glyphicon glyphicon-hand-right"></span> View sample</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Add query string parameters</h2>

            <p>This sample explains how to add query string parameters to the <code>_resources</code> method.</p>

            <p>
                <a class="btn btn-default"
                   href="#/samples/add-query-string-parameters"
                   role="button">
                    <span class="glyphicon glyphicon glyphicon-hand-right"></span> View sample</a>
            </p>
        </div>
    </div>

    <hr>

    <footer>
        <p><a href="https://github.com/guylabs/angular-spring-data-rest/blob/master/LICENSE" target="_blank">&copy;
            Guy Brand 2014 - Licensed under MIT</a></p>
    </footer>
</div>