<div class="container">
    <div class="page-header">
        <h1>Samples overview</h1>
    </div>
    <h3>Spring Data REST back end structure</h3>
    <p>
        All the samples receive the data from the Spring Data REST back end which provides the following entities with
        its relations to each other:
    </p>

    <img src="img/entity-relation-diagram.png" alt="Entity relation diagram" class="img-responsive center-block" />

    <p>
        The Spring Data REST backend has the default configuration and the <code>CategoryRepository</code> and the
        <code>ItemRepository</code> extend from the <code>PagingAndSortingRepository</code>.
    </p>

    <h3>Samples</h3>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">List embedded items</h3>
                </div>
                <div class="panel-body">
                    <p>This sample shows how to list the embedded items of a call to the Category repository.</p>

                    <p>
                        <a class="btn btn-default"
                           href="#/samples/list-embedded-items"
                           role="button">
                            <span class="glyphicon glyphicon-hand-right"></span> View sample</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">The <code>_resources</code> method</h3>
                </div>
                <div class="panel-body">
                    <p>This sample shows how to use the <code>_resources</code> method.</p>

                    <p>
                        <a class="btn btn-default"
                           href="#/samples/the-resources-method"
                           role="button">
                            <span class="glyphicon glyphicon glyphicon-hand-right"></span> View sample</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Automatic link fetching</h3>
                </div>
                <div class="panel-body">
                    <p>This sample shows how to automatically fetch the link to a parent category.</p>

                    <p>
                        <a class="btn btn-default"
                           href="#/samples/automatic-link-fetching"
                           role="button">
                            <span class="glyphicon glyphicon glyphicon-hand-right"></span> View sample</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Add query string parameters</h3>
                </div>
                <div class="panel-body">
                    <p>This sample explains how to add query string parameters to the <code>_resources</code> method.</p>

                    <p>
                        <a class="btn btn-default"
                           href="#/samples/add-query-string-parameters"
                           role="button">
                            <span class="glyphicon glyphicon glyphicon-hand-right"></span> View sample</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Show available resources</h3>
                </div>
                <div class="panel-body">
                    <p>This sample explains how to get an object with all available resources on a specific resource.</p>

                    <p>
                        <a class="btn btn-default"
                           href="#/samples/show-available-resources"
                           role="button">
                            <span class="glyphicon glyphicon glyphicon-hand-right"></span> View sample</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <footer>
        <p><a href="https://github.com/guylabs/angular-spring-data-rest/blob/master/LICENSE" target="_blank">&copy;
            Guy Brand 2014 - Licensed under MIT</a></p>
    </footer>
</div>